.lw { font-size: 60px; font-family: Arial, Helvetica, sans-serif; }
.pos {margin-left: 30px;}
.sz1 {font-size:30px;}
.sz2{font-size:20px;}
h1 {background-color: #8b5a2b; color: #fff8dc;}
h2 {background-color: #90ee90;}
h3 {background-color: #90ee90;}
h4 {background-color: #90ee90;}
